.notebody{
    width: 300px;
    border: 2px solid black;
    padding: 100px;
    margin: 25px;
}


#fail {
  color: #ff0000;
  font-size: 50px;
  font-weight: bold;
}

#success {
  color: rgb(0, 255, 0);
  font-size: 25px;
}
